<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NirjaraAp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D487FC21203E97CE001DC8C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D487FC37203E97CF001DC8C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D487FC42203E97CF001DC8C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
